/* Filters Styles */
.filters {
    background-color: white; /* Set background color to white */
    height: 70px; /* Set height to 70 pixels */
    width: 100%; /* Set width to 100% of the container */
    border: solid 1px #DDDDDD; /* Add a solid border with color #DDDDDD */
    border-radius: 4px; /* Add border-radius for rounded corners */
   
    text-align: right; /* Align text to the right */
}

.filters button {
    font-size: 18px; /* Set font size to 18 pixels */
    color: white; /* Set text color to white */
    background-color: #FF5A5F; /* Set background color to #FF5A5F */
    height: 48px; /* Set button height to 48 pixels */
    border: 0; /* Remove button border */
    border-radius: 4px; /* Add border-radius for rounded corners */
    width: 20%; /* Set button width to 20% of the container */
    margin-right: 30px; /* Add right margin to the button */
   
    margin-top: 11px; /* Add top margin to the button */
    margin-bottom: 11px; /* Add bottom margin to the button */
}

.filters button:hover {
    opacity: 0.9; /* Reduce opacity on hover to 90% */
}

/* Locations and Amenities Styles */
.locations {
    border-right: 1px solid #DDDDDD; /* Add a solid border on the right with color #DDDDDD */
    height: 100%; /* Set height to 100% of the container */
    width: 25%; /* Set width to 25% of the container */
    text-align: left; /* Align text to the left */
    margin-left: 30px; /* Add left margin to the locations */
    float: left; /* Float the locations to the left */
}

.amenities {
    text-align: left; /* Align text to the left */
    height: 100%; /* Set height to 100% of the container */
    width: 25%; /* Set width to 25% of the container */
    margin-left: 30px; /* Add left margin to the amenities */
    float: left; /* Float the amenities to the left */
}

.locations h3, .amenities h3 {
    font-weight: 600; /* Set font weight to 600 for h3 */
    margin: 0px;
    padding: 0px;
}


.locations h4, .amenities h4 {
    font-weight: 400; /* Set font weight to 400 for h4 */
    font-size: 14px; /* Set font size to 14 pixels for h4 */
    margin: 0px;
    padding: 0px;
}
